<overlay-spinner [text]="'در حال دریافت اطلاعات...'" *ngIf="loadingReception"></overlay-spinner>
<confirm #prompt [type]="'PROMPT'" [title]="''">{{promptText}}</confirm>

<!--<app-floating-button></app-floating-button>-->
<div class="flexbox-parent container">
<div [class]="(authService.isLoggedIn() ? '' : '' ) + ' flexbox-item-grow flexbox-parent-row home h-100 '" id="home">

<!--  <app-sidebar></app-sidebar>-->

  <div class="flexbox-item-grow p-4">
      <div class="row h-100 ">
        <div class="col-md-8 p-0 h-100 ">
          <div [class]="'page-wrapper chiller-theme h-100'">
            <main class="page-content pl-3 pr-3 h-100 ">
              <ng-content></ng-content>
            </main>
          </div>
        </div>
        <div class="col-md-4 h-100">
          <app-column ></app-column>
        </div>
      </div>
  </div>

</div>

  <app-audio-player></app-audio-player>
</div>


