<reception-item-modal></reception-item-modal>
<app-reception></app-reception>
<app-qr-code-scanner #scanner ></app-qr-code-scanner>
<overlay-spinner [text]="'در حال دریافت اطلاعات...'" *ngIf="loadingReception"></overlay-spinner>
<confirm #prompt [type]="'PROMPT'" [title]="''">{{promptText}}</confirm>
<app-audio-player></app-audio-player>
<!--<app-floating-button></app-floating-button>-->
<div [class]="(authService.isLoggedIn() ? '' : '' ) + ' flexbox-parent-row home h-100 '" id="home">

  <app-sidebar></app-sidebar>

  <div class="flexbox-item-grow p-4">
    <div class="row">
      <div class="col-md-9">
        <div [class]="'page-wrapper flexbox-parent chiller-theme ' + (authService.isLoggedIn() ? 'has-sidebar toggled ' : ' no-sidebar ')
      + (sidebar ? 'open' : 'closed')" #pageWrapper>
          <main class="page-content flexbox-item-grow">
            <ng-content></ng-content>
          </main>
        </div>
      </div>
      <div class="col-md-3">
        <app-column ></app-column>
      </div>
    </div>
  </div>

</div>


