<div class="admin-wrapper h-100 overflow-auto">
  <div class="toolbar flexbox-parent-row">
    <a class="app-button font-heading" routerLink="/new-post">پست جدید</a>

    <div class="flexbox-item-grow"></div>
    <div class="status mr-2 english_font">
      <select [(ngModel)]="status" class="ltr text-left"
              (change)="getPosts()">
        <option value="ALL">ALL</option>
        <option value="DRAFT">Draft</option>
        <option value="PUBLISH">Publish</option>
        <option value="REMOVED">Removed</option>
      </select>
    </div>
    <div class="type mr-2 english_font">
      <select [(ngModel)]="type" class="ltr text-left" (change)="getPosts()">
        <option value="ALL">ALL</option>
        <option value="ARTICLE">Article</option>
        <option value="AUDIO">Audio</option>
        <option value="AUDIO_ALBUM">Audio Album</option>
      </select>
    </div>
  </div>
  <app-admin-posts #adminPostsComponent></app-admin-posts>
</div>
