.audio-player-wrapper {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: 250;
  direction: ltr;
  background-color: #f5f7fa;
  padding: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,.25);
}
#audio-player-container {
  line-height: 3;
}
#play-icon:hover {
  background-color: #adb5bd;
}
#play-icon {
  border: none;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.time {
  margin: 0 10px;
}
.bars {
  position: absolute;
  direction: rtl;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.bar {
  display: inline-block;
  width: 3px;
  background-color: darkslategrey;
}

#seek-slider {
  z-index: 10;
  background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 7px;
  /*width: 356px;*/
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  position: relative;
}
