.tags-wrapper {
  border: 1px dashed #909090;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tag {
  padding: 2px 3px;
  background: lightyellow;
  margin-right: 5px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}
.loaded-tag {
  cursor: pointer;
  padding: 2px 3px;
  background: #ffff8f;
  margin-right: 5px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}
.remove-tag {
  cursor: pointer;
}
.remove-tag:hover {
  color: #3a3f48;
}
