<nav class="navbar navbar-expand-lg flexbox-parent-row position-relative" >

  <div class="container">

  <div class="navbar-toggler" *ngIf="!authService.isLoggedIn()"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-ellipsis-v"></i>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto ">

      <li class="nav-item mr-3 " [class]="(navigationService.currentLocation === ('/posts') ? 'selected' : '')" [routerLink]="'/posts'">
        <a class="nav-link" [routerLink]="'/posts'">
          <i class="fa fa-home ml-2"></i>
          <span class="font-heading">صفحه اصلی</span>
        </a>
      </li>

      <!--<li class="nav-item " [class]="(navigationService.currentLocation === ('/strikes') ? 'selected' : '')" [routerLink]="'/strikes'">
        <a class="nav-link" [routerLink]="'/strikes'">
          <i class="fa fa-map ml-2"></i>
          <span class="font-heading">نقشه اعتصابات</span>
        </a>
      </li>
      <li class="nav-item " [class]="(navigationService.currentLocation === ('/prisoner') ? 'selected' : '')" [routerLink]="'/prisoner'">
        <a class="nav-link" [routerLink]="'/prisoner'">
          <i class="fa fa-user-circle ml-2"></i>
          <span class="font-heading">زندانیان سیاسی</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">ارسال مطلب</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">ادمین</a>
      </li>-->
    </ul>
  </div>


  <div class="search-container mr-auto flexbox-item-grow " id="">
      <input class="form-control w-100" (keydown.enter)="search()" [(ngModel)]="filter" type="search" placeholder="جستجو..." aria-label="Search">
  </div>

  <div class=" ml-1" id="navbarText">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/images/logo.jpg" class="logo" alt="" width="50"/>
        </a>
        <div class="dropdown-menu left" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/about-us">
            <i class="fa fa-info"></i>
            <span>درباره ما</span>
          </a>
          <a class="dropdown-item" routerLink="/contact-us">
            <i class="fa fa-envelope"></i>
            <span>تماس با ما</span>
          </a>
        </div>
      </li>
    </ul>
  </div>

  </div>

</nav>


