<div class="">
  <div [class]="'post-item  ' + post.status + ' style-' + post.style">

    <h1 class="font-heading w-100 title-1 font-weight-bolder">{{post.title}}</h1>
    <div class=" mb-4 ">
      <a [class]="'font-heading  author ml-2' " [routerLink]="'/posts/author/' + post.author"> {{post.author}} </a>
      <a *ngFor="let category of post.categories" class="font-heading post-category" [routerLink]="'/posts/category/' + category.name"> {{category.name}} </a>
    </div>
    <div [class]="'d-table w-100'">

      <img *ngIf="post.imageUrl" class=" post-thumbnail" [src]="post.imageUrl" alt=""/>
      <div class=" post-text">

        <div class="post-content">
          <div class="post-section" *ngFor="let postSection of post.postSections">
            <app-post-section [postSection]="postSection"></app-post-section>
          </div>
        </div>

      </div>
    </div>

    <div class="post-footer flexbox-parent-row">
      <span class="text-muted font-small font-heading "><i class="fa fa-comment"></i></span>
      <span class="flexbox-item-grow ml-3 mr-3 font-small text-muted tags">
        <a class="tag font-heading ml-2" *ngFor="let tag of post.tags"> #{{tag.name}} </a>
      </span>
      <span class="text-muted font-small font-heading">
        <span class="font-heading">{{dateService.greToPersian(post.created, true)}} </span>
      </span>
    </div>

  </div>
</div>
