<app-post-modal #postModal  [post]="selectedPost"></app-post-modal>
<div class=" h-100  post-container ">
    <div class="text-center owl-container" *ngIf="!loading && (commonService.isEmpty(posts))">
      <img class="w-75"  src="../../../assets/images/home/owl.svg">
      <div>چیزی پیدا نکردم</div>
    </div>

    <spinner [showing]="loading" #spinner></spinner>

    <div class="post" *ngFor="let item of posts" (click)="onPostClick(item)">
        <app-post [post]="item">
        </app-post>
    </div>
</div>
