<app-post-modal #postModal  [post]="selectedPost"></app-post-modal>
<div class="posts-container">
  <h5 class="text-muted font-heading">مقالات</h5>

  <spinner [showing]="loading" ></spinner>

  <div class="post" (click)="postSelected(post)" *ngFor="let post of posts">
    <div class=" flexbox-parent-row" >
      <span class="flexbox-item-grow">{{post.title}}</span> <i class="fa fa-external-link post-open-icon"></i>
    </div>

    <div class="font-small mb-2 ">
      <a [class]="'font-heading  author ml-2' " (click)="$event.stopPropagation()" [routerLink]="'/posts/author/' + post.author">{{post.author}}</a>
    </div>

    <div *ngIf="!loading && !noMoreForward" class="text-center">
      <a [routerLink]="" class=" font-heading" (click)="readPosts()">
        بیشتر ...
      </a>
    </div>
  </div>
</div>
