.sidebar-wrapper{
  background: #f2ffca;
  padding: 15px 0;
  box-shadow: 0 3px 8px #eed596;
  width: 200px;
}


.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:before,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.03s ease;
  -moz-transition: all 0.03s ease;
  -ms-transition: all 0.03s ease;
  -o-transition: all 0.03s ease;
  transition: all 0.03s ease;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

ul li {
  padding: 5px 15px;
  border-bottom: 1px solid #eee;
}

ul .sidebar-item{
  cursor: pointer;
}
ul .sidebar-item.selected{
  background-color: #eed596;
}
ul .sidebar-item:hover{
  background-color: #e1ce9d;
}
ul .sidebar-item.selected a{
  font-weight: 900;
}
ul .sidebar-item a{
  color: #b0172b;
  text-decoration: none;
}
