.post-item{
  font-size: 16px;

  padding: 5px 5px;
  color: #161a1e;
  background: #fff;

  box-shadow: none;
  border: 1px dashed lightgray;
  border-radius: 10px;
  overflow: hidden;
}
.post-item .post-content {
  line-height: 1.5;
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
}

.post-item .post-text{
  vertical-align: top;
}
.post-item .post-thumbnail{
  margin: 0 0 10px 10px;
  width: 120px;
  float: right;
}

.post-item.operating {
  opacity: .4;
}

.post-tool:hover{
  color: white;
}
.post-tool{
  cursor: pointer;
  /* color: dimgrey; */
  color: gray;
  border-radius: 50%;
}

.post-title-wrapper{
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
}
.dropdown-item{
  cursor: pointer;
}

.post-time {
  white-space: nowrap;
}
.post-time .fa{
  font-size: 20px;
  white-space: nowrap;
}

.post-item.DONE,
.post-item.CANCELLED{
  opacity: .4;
}
.names{
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*.post-item.DONE{background: rgba(0, 77, 0, 0.05)}*/
/*.post-item.CANCELLED{background: rgba(128, 128, 128, 0.1)}*/
/*.post-item.TO_BE{background: rgba(0, 77, 0, 0.05)}*/
/*.post-item.GETTING_LATE{background: rgba(154, 205, 50, 0.05)}*/
/*.post-item.LATE{background: rgba(255, 255, 0, 0.05)}*/
/*.post-item.GOING_ON{background: rgba(0, 77, 0, 0.05)}*/


.open-post-tab:hover{
  color: darkred;
}
.open-post-tab{
  font-size: 12px;
}

.author {
  color: #4a4a4a;
  font-weight: bold;
  cursor: pointer;
}
.post-category{
  padding: 2px 10px;
  background: #e0e0e0;
  border-radius: 3px;
  color: #222;
  margin-right: 4px;
}

.post-footer {
  height: 30px;
}
.post-footer i {
  font-size: 15px;
  padding: 10px;
  height: 30px;
}
@keyframes post-item-hover {
  0% {
    margin-left: 0;
    margin-right: 0;
  }

  100% {
    margin-left: -.5%;
    margin-right: -.5%;
  }
}

@media screen and (max-width: 767px) {
  .post-item.style-1 .post-thumbnail,
  .post-item.style-2 .post-thumbnail{
    width: 100%;
    float: none;
  }
}
