.back-button {
  position: absolute;
  left: 30px;
  top: 10px;
  z-index: 10;
  opacity: .4;
}
.back-button:hover {
  opacity: 1;
}

.post-placeholder {
  width: 100%;
  opacity: .3;
  min-height: 100%;
  animation: flashing 1.2s infinite;
}

@keyframes flashing {
  0% {
    opacity: .4;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .4;
  }
}
