.voices-container{
}

.voice:hover {
  background-color: #f1f1f1;
}
.voice:last-child {
  border-bottom: none;
}
.voice {
  padding: 5px;
  cursor: pointer;
  border-bottom: #ddeeff 1px dashed;
}

.voice-open-icon:hover {
  color: darkred;
}
.voice-open-icon{
  line-height: 1.5;
}
