<h3 class="text-center font-heading">{{post.title}}</h3>

<div class=" panel text-right text-muted font-small mb-3" >
  <i class="fa fa-calendar ml-2"></i>
  <span> {{dateService.greToPersian(post.created, true)}}  </span>
</div>

<div class="d-table post-details" >

  <img class=" post-thumbnail" [src]="post.imageUrl" alt=""/>
  <div class=" post-text" >
    <div class="post-content">
      <p>{{post.content}}</p>
    </div>
  </div>

</div>


<app-comments #comments [postId]="post ? post.id : -1"></app-comments>
